<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>prevreg</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ClientesController</display-name>
    <servlet-name>ClientesController</servlet-name>
    <servlet-class>prevreg.controller.ClientesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientesController</servlet-name>
    <url-pattern>/ClientesController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreaClienteController</display-name>
    <servlet-name>CreaClienteController</servlet-name>
    <servlet-class>prevreg.controller.CreaClienteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreaClienteController</servlet-name>
    <url-pattern>/CreaClienteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditaClienteController</display-name>
    <servlet-name>EditaClienteController</servlet-name>
    <servlet-class>prevreg.controller.EditaClienteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditaClienteController</servlet-name>
    <url-pattern>/EditaClienteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminaClienteController</display-name>
    <servlet-name>EliminaClienteController</servlet-name>
    <servlet-class>prevreg.controller.EliminaClienteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminaClienteController</servlet-name>
    <url-pattern>/EliminaClienteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaClienteController</display-name>
    <servlet-name>ListaClienteController</servlet-name>
    <servlet-class>prevreg.controller.ListaClienteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaClienteController</servlet-name>
    <url-pattern>/ListaClienteController</url-pattern>
  </servlet-mapping>
</web-app>